<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', { pageTitle: 'CREAR PRDUCTO' }) %>
        <%- include('./partials/nav.ejs') %>

</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <form class="container" action="/products" method="POST">
        <h2>Formulario para crear producto</h2>
        <div>
            <label>Nombre:</label>
            <input type="text" name="pdtName" value="<%= locals?.oldBodyData?.pdtName %>" required>
        </div>
        <div class="text-danger">
            <%= locals.messageErrors && messageErrors.pdtName !=undefined ? messageErrors.pdtName.msg : "" %>
        </div>
        <div>
            <label>Precio:</label>

            <input type="text" name="pdtPrice" value="<%= locals?.oldBodyData?.pdtPrice %>">
            <div class="text-danger">
                <%= locals?.messageErrors?.pdtPrice?.msg %>
            </div>
        </div>
        <button type="submit">GUARDAR</button>
    </form>
</body>

</html>