<!DOCTYPE html>
<html lang="en">

<head>
      <%- include('./partials/nav.ejs') %>
    <%- include('./partials/head.ejs', { pageTitle: 'Loguear Usuario' }) %>
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <form class="container" action="/users/login" method="POST">
        <h2>Login</h2>

        <div>
            <label>Nombre:</label>
            <input type="email" name="email" value="<%= %>" >
        </div>
        <div class="text-danger">
           </div>
        <div>
            <label>Password:</label>

            <input type="password" name="password" value="<%= %>">
            <div class="text-danger">
                <%= locals?.messageErrors %>
            </div>
        </div>
        <div>
            <input type="checkbox" name="rememberUser" id="">
        </div>
        <button type="submit">Entrar</button>

    </form>
</body>

</html>
