<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', { pageTitle: 'Loguear Usuario' }) %>
</head>

<body>
    <h2>Mi Login</h2>
    <form action="/users/login" method="POST">

        <div>
            <label>Nombre:</label>
            <input type="email" name="email" value="<%= locals?.oldBodyData?.email %>" required>
        </div>
        <div class="text-danger">
            <%= locals.messageErrors && messageErrors.email !=undefined ? messageErrors.email.msg : "" %>
        </div>
        <div>
            <label>Password:</label>

            <input type="password" name="password" value="<%= locals?.oldBodyData?.password %>">
            <div class="text-danger">
                <%= locals?.messageErrors?.password?.msg %>
            </div>
        </div>
        <button type="submit">Entrar</button>
    </form>
</body>
</html>
