<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/head.ejs', { pageTitle: 'Perfil de Usuario' }) %>
</head>

<body>
    <h1>Mi Perfil de <%= user.fullname %> </h1>
    
    <div>
        <label>Nombre y Apellido</label>
        <input type="text" name="fullname" value="<%= user.fullname %>" >
        <img src="/uploads/avatars/<%= user.avatar %> "
    </div>

    <div>
        <label>Email:</label>
        <input type="email" name="email" value="<%= user.email %>" >  
    </div>
 
    <form class="ps-col l6 ps-padding-large" action="/users/logout" method="POST">
    <button type="submit">Cerrar Session</button>
    
</form>
</body>

</html>